.column {
    box-sizing: border-box;
    display: inline-block;
    font-size: 24px;
    min-width: 330px;
    margin: 5px 10px;
    text-align: center;
    flex-basis: 30%;
    flex-grow: 1;
    color: #4a4a4a;
    align-self: start;
    opacity: .7;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 1px 1px grey;
}

.column:hover {
    box-shadow: 0 0 3px 2px #4a4a4a;
}

.column:hover {
    opacity: 1;
}

.column__title {
    display: inline-block;
    height: 30px;
    line-height: 32px;
    opacity: .7;
    margin: 2% 5%;
    padding: 0 5px;
    text-align: center;
    /*min-width: 88%;*/
    cursor: pointer;
    min-width: 10%;
    user-select: none;
    letter-spacing: 3px;
    color: dimgray;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all .2s ease-in-out;
}

.column__title:hover {
    opacity: 1;
    margin: 2% 5%;
    min-width: 86%;
    font-weight: bolder;
    border: 2px solid dimgray;
    box-shadow: 0 0 4px 1px grey;
    transition: all .2s ease-in-out;
}

.column__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    max-height: 500px;
    transition: max-height 1s 0s ease-out;
}

.column__list > li {
    min-height: 30px;
    line-height: 20px;
    text-align: left;
    margin: 1% 6%;
    word-break: break-all;
}

label {
    display: inline-block;
    max-width: 80%;
    cursor: pointer;
    transition: all .3s ease;
}

.form-add-task__input {
    font-size: 24px;
    min-width: 86%;
    height: 40px;
    line-height: 40px;
    border: none;
    outline: none;
    margin: 1% 4% 20px;
    padding: 0 5px;
    word-break: break-all;
    transition: all .2s ease;
}

.form-add-task__input:hover {
    box-shadow: 0 0 4px 2px #989898;
}

.form-add-task__input:focus {
    box-shadow: 0 0 1px 2px #4a4a4a;
}

.input-edit {
    display: inline-block;
    width: 250px;
    height: 25px;
    font-size: 24px;
    min-width: 85%;
    padding: 0 5px;
    outline: none;
    border: none;
    margin-left: 1%;
    transition: all .3s ease;
}


.input-edit:hover {
    box-shadow: 0 0 4px 2px #989898;
}

.input-edit:focus {
    box-shadow: 0 0 1px 2px #4a4a4a;
}


.duplicate::placeholder {
    color: red;
}

input[type=checkbox] {
    transform: scale(2);
    margin: 1% 15px 1%;
    vertical-align: central;
    cursor: pointer;
    transition: all .3s ease;
}

.hide-list {
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s -0.3s ease-in-out;
}

img {
    float: right;
    width: 18px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
    user-select: none;
    transition: all .3s ease;

}

img:hover {
    opacity: 1;
}

.green {
    background: rgb(209, 243, 200);
}

.yellow {
    background: rgb(252, 235, 186);
}

.red {
    background: #ffdfd0;
}

.disabled {
    display: none;
}
