.column-task-list {
    font-size: 20px;
    min-width: 350px;
    padding: 5px;
    margin: 5px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}

span {
    display: block;
    cursor: pointer;
    user-select: none;
}

input.enter-text {
    font-size: 16px;
    width: 300px;
    height: 20px;
    border: #555 2px solid;
    margin-bottom: 10px;
}

input.edit {
    transform:scale(1);
    width: 260px;
    font-size: 18px;
    padding: 0 3px;
    margin-left: -30px;
    margin-bottom: -2px;
}

.duplicate::placeholder {
    color: red;
}

input[type='checkbox'] {
    transform:scale(1.5);
    margin-left: 7px;
    margin-right: 13px;
    cursor: pointer;
}

ol {
    margin: 10px;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    max-height: 500px;
    transition: max-height 1s 0s ease-out;
}

.hide {
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s -0.3s ease-in-out;
}

li {
    text-align: left;
    margin: 5px 8px;
}

b {
    float: right;
    display: inline-block;
    text-align: right;
    color: red;
    cursor: pointer;
    opacity: 0.5;
    user-select: none;
}

b:hover {
    opacity: 1;
}

.green {
    border-color: green;
    background-color: #e4ffd5;
}

.yellow {
    border-color: orange;
    background-color: #fff2d3;
}

.red {
    border-color: red;
    background-color: #ffd5d5;
}


