.Auth {
    max-width: 600px;
    padding: 16px;
}

form {
    text-align: center;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
}


.error {
    position: relative;
    top: -8px;
    color: red;
}

.Select {
    font-size: 20px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    background: #ececec;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.toggle  {
    cursor: pointer;
    text-decoration: underline;
    color: #459f49;
}

.toggle:hover {
    text-decoration: none;
    opacity: .7;
}

