.App {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.routing {
    display: flex;
    justify-content: center;
}

hr {
    margin-bottom: 40px;
}

.routing a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    margin: 5px 20px;
    color: #ff3c3c;
}

.routing a:hover {
    text-decoration: none;
    opacity: .7;
}

.routing a.active {
    color: #377e3a;
    text-decoration: none;
}

.currentUser {
    display: inline-block;
    font-size: 20px;
    margin: 5px 20px;
}

.active-person {
    color: #377e3a;
}

