.Input {
    font-size: 20px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    background: #ececec;
    transition: all .3s ease-in-out;
}

.Input:hover {
    box-shadow: -1px 1px 3px 1px #426642;
}

.Input:focus {
    box-shadow: -1px 1px 3px 1px #426642;
    background-color: #d2ead5;
    outline: none;
}
