.users-list {
    margin: 10px;
    padding: 0;
}

.users-list li {
    font-size: 20px;
    margin: 15px;
    cursor: pointer;
}

a:link {
    color: #4bae50;
}

a:visited {
    color: #347a38;
}

a:hover {
    text-decoration: none;
    opacity: .7;
}

a:active {
    color: #ff3c3c;
}