.users-list {
    margin: 10px;
    padding: 0;
}

.users-list li {
    font-size: 20px;
    margin: 15px;
    cursor: pointer;
}

a {
    transition: all .3s ease;
}

a:link {
    color: #377E3AFF
}

a:visited {
    color: #577057
}

a:hover {
    text-decoration: none;
    opacity: .7;
}

a:active {
    color: #ff3c3c;
}